{{ $data := $.Site.Data.vmoji }}
{{ $class := .Name }}
{{ $filterParams := "q90 webp" }}
{{ $imgLoading := "lazy" }}

{{ $image := "" }}
{{ $name := "" }}
{{ with .Get "name" }}
    {{ $name = . }}
    {{ $fileName := index $data $name }}
    {{ if ne $fileName nil }}
        {{ $image = print "vmoji/" $fileName }}
    {{ end }}
{{ else }}
    {{ with .Get 0 }}
        {{ $name = . }}
        {{ $fileName := index $data $name }}
        {{ if ne $fileName nil }}
            {{ $image = print "vmoji/" $fileName }}
        {{ end }}
    {{ end }}
{{ end }}

{{ if ne $image "" }}
    {{ $filter := images.Process $filterParams }}
    {{ with resources.Get $image }}
        {{ $link := .RelPermalink }}
        {{ if not (hasSuffix $image ".gif") }}
            {{ with .Filter $filter }}
                {{ $link = .RelPermalink }}
            {{ end }}
        {{ end }}
        <img
            src="{{ $link }}"
            alt="{{ $name }}"
            title="{{ $name }}"
            class="{{ $class }}"
            loading="{{ $imgLoading }}"
        />
    {{ end }}
{{ end }}
